*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
	width: 100%;
	height: 100%;
	display: block;
}